<main>
  <div class="p-16 mx-8 bg-gray-100 border-amber-950 rounded-3xl">
    <h1 class="text-3xl font-normal pb-4 lg:text-5xl text-center">
      Elevate your home <br />
      cooking with our expertly <br />
      <span class="font-normal text-green-400" style="font-family: patua One"
        >Curated Recipes!</span
      >
    </h1>
    <div class="pt-2 pb-1 relative mx-auto text-gray-600 text-center">
      <input
        [(ngModel)]="searchText"
        (click)="sendMessage()"
        class="border-2 border-gray-300 bg-white h-14 px-5 pr-16 rounded-3xl text-sm focus:outline-none md:hidden"
        type="search"
        name="search"
        placeholder="Search"
      />
    </div>

    <div class="flex my-4 lg: justify-center">
      <div class="bg-cover h-96 me-4 lg: h-[325px]">
        <img
          src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?q=80&w=1980&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="w-full h-full object-cover rounded-2xl"
        />
      </div>

      <div class="bg-cover h-96 me-4">
        <img
          src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="w-full h-full rounded-3xl object-cover"
        />
      </div>
      <div class="bg-cover h-96 lg: h-[325px]">
        <img
          src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?q=80&w=2020&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="w-full h-full object-cover rounded-2xl"
        />
      </div>
    </div>
  </div>
</main>
